@use "../../sass/mixins/cta-button" as *;
@use "../../sass/abstracts/breakpoints" as *;

.container {
  max-width: 70rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;

  @media (max-width: $bp-5) {
    max-width: 25rem;
  }
}

.grid {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  row-gap: 4rem;

  @media (max-width: $bp-2) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $bp-5) {
    grid-template-columns: 1fr;
  }
}
